<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>The Backstory</h2>
  <p>This project began at Hackseq, a genomics hackathon that happened at UBC in October 2016. A huge thanks to the sponsors and the hardworking organizers of Hackseq!</p>
  <h2>The Team</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Affiliation</th>
        <th>Twitter</th>
	<th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luca Pinello (Team Lead)</td>
        <td>Harvard Medical School</td>
        <td><a href="https://twitter.com/lucapinello">@lucapinello</a></td>
	<td><a href="pinellolab.org">Link</a></td>
      </tr>
      <tr>
        <td>David Brazel</td>
        <td>Institute for Behavioral Genetics, University of Colorado Boulder</td>
        <td></td>
        <td><a href="http://www.colorado.edu/ibg/david-brazel">Link</a></td>
      </tr>
      <tr>
        <td>Carolyn Ch'ng</td>
        <td>British Columbia Cancer Agency, Canada's Michael Smith Genome Sciences Centre, Vancouver</td>
        <td><a href="https://twitter.com/carolynlchng">@carolynlchng</a></td>
        <td><a href="cchng.github.io">Link</a></td>
      </tr>
      <tr>
        <td>Stephen Kan</td>
        <td>University of British Columbia</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Ka-Kyung Kim</td>
        <td>Severance Biomedical Science Institute, Yonsei University College of Medicine</td>
        <td><a href="https://twitter.com/kakyungkim">@kakyungkim</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Jill Moore</td>
        <td>University of Massachusetts Medical School</td>
        <td><a href="https://twitter.com/MooreJillE">@MooreJillE</a></td>
        <td><a href="https://sites.google.com/site/jillemooreumass/home">Link</a></td>
      </tr>
      <tr>
        <td>Shobhana Sekar</td>
        <td>Arizona State University</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Karthigayini Sivaprakasam</td>
        <td>Arizona State University</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jing Yun Alice Zhu</td>
        <td>University of British Columbia</td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}⏎
