<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
        <title>{{ title }} - baklavaWGS</title>
    {% else %}
        <title>baklavaWGS</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
</head>
<body>

<!-- navbar -->
<div class="navbar navbar-default" role="navigation">

    <div class="container">
             <div class="navbar-header">
             
            <img style="float:left" src="{{ url_for('static', filename='img/Baklava.png') }}" WIDTH=100 HEIGHT=100></span>  <!-- TODO: move to left of title -->
			<span><a style="font-size:2.5em; line-height: 1.5em;"class="navbar-brand" href="index">baklavaWGS</a><</span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="index">HOME</a></li>
                <li><a href="coverage">COVERAGE</a></li>
                <li><a href="data">DATA</a></li>
                <li><a href="about">ABOUT</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</body>
</html>
