<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script language="javascript" src="//www.biodalliance.org/release-0.13/dalliance-compiled.js"></script>
    <script language="javascript">
        browser = new Browser({
            chr: '22',
            viewStart: 30757564,
            viewEnd: 30782461,

            coordSystem: {
                speciesName: 'Human',
                taxon: 9606,
                auth: 'GRCh',
                version: '37',
                ucscName: 'hg19'
            },

     sources:     [{name:                 'Genome',
                   twoBitURI:            '//www.biodalliance.org/datasets/hg19.2bit',
                   tier_type:            'sequence'},
                   {name: 'Genes',
                           desc: 'Gene structures from GENCODE 19',
                           bwgURI: '//www.biodalliance.org/datasets/gencode.bb',
                           stylesheet_uri: '//www.biodalliance.org/stylesheets/gencode.xml',
                           collapseSuperGroups: true,
                           trixURI: '//www.biodalliance.org/datasets/geneIndex.ix'},
	           {name: 'Illumina WGS Coverage',
                   bwgURI: '//baklavawgs.com/static/HiSeq-300x.chr22.bigWig'  ,style:   [{type: 'default',
                            style:  {glyph: 'HISTOGRAM', HEIGHT: 40, MIN: 0, MAX: 300}}],
               quantLeapThreshold: 30},
                   {name: 'ENCODE ChIP-seq Coverage (line at 30x)',
                   bwgURI: '//baklavawgs.com/static/HUGE_cov.bw',style:     [{type: 'default',
                            style:  {glyph: 'HISTOGRAM', HEIGHT: 40, MIN: 0, MAX: 60}}],
               quantLeapThreshold: 30},
                   {name: 'Coverage from One Source',
                   bwgURI: '//baklavawgs.com/static/ENCFF000ATH_chr22_ChIP-seq_rg.depth.bw'},
                   {name: 'Coverage from Five Sources',
                   bwgURI: '//baklavawgs.com/static/test_5_rg.depth.bedGraph.bw'},
                   {name: 'Variants from One Source',
                   bwgURI: '//baklavawgs.com/static/Test-One-Bam.bb'},
                   {name: 'Variants from Five Sources',
                   bwgURI: '//baklavawgs.com/static/Test-Five-Bam.bb'},
                   {% for track in tracks %}
                   {% if track.ext == 'bam' %}
                   {name: '{{ track.name }}',
                        bamURI: "{{ track.filename }}"},
                   {% elif track.ext == 'bb' or track.ext == 'bw' %}
                   {name: '{{ track.name }}',
                       bwgURI: '{{ track.filename }}',
                       style: [{type: 'default', style: {LABEL: false}}]},
                   {% endif %}
                   {% endfor %}]
  });

        function export_region() {
            var chr = browser.chr;
            var viewStart = browser.viewStart;
            var viewEnd = browser.viewEnd;
            var data = {'chr': chr, 'viewStart': viewStart, 'viewEnd': viewEnd};
            $.ajax({
                url: '/get_region',
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function (response) {
                    console.log(response);
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                    console.log(data);
                }
            });
        };

    </script>
    <div id="svgHolder"></div>
    <div class="container">
        <button onclick="export_region()">Export</button>
    </div> <!-- /container -->
{% endblock %}
